#=============================================================================
#    Copyright (c) 2017 Paul Fultz II
#    requirements.txt
#    Distributed under the Boost Software License, Version 1.0. (See accompanying
#    file LICENSE_1_0.txt or copy at http://www.boost.org/LICENSE_1_0.txt)
#==============================================================================
sphinx==5.2.1
myst-parser==0.18.1
git+https://github.com/pfultz2/sphinx-boost@8ad7d424c6b613864976546d801439c34a27e3f6
