language: cpp

sudo: false

os:
  - linux
  - osx
  
compiler:
  - clang

before_script:
  - echo "CC=$CXX" > make/local

matrix:
  fast_finish: true

env:
  - TESTFOLDER=test/unit/math/memory
  - TESTFOLDER=test/unit/math/prim/scal
  - TESTFOLDER=test/unit/math/prim/arr
  - TESTFOLDER=test/unit/math/prim/mat
  - TESTFOLDER=test/unit/math/rev/scal
  - TESTFOLDER=test/unit/math/rev/arr
  - TESTFOLDER=test/unit/math/rev/mat
  - TESTFOLDER=test/unit/math/fwd/scal
  - TESTFOLDER=test/unit/math/fwd/arr
  - TESTFOLDER=test/unit/math/fwd/mat
 # - TESTFOLDER=test/unit/math/mix  ## commenting this out due to segfault on travis

script: ./runTests.py -j2 $TESTFOLDER
