name: Header checks

on:
  pull_request:
    branches: [ develop, master ]
  push:
    branches: [ develop, master ]
    paths-ignore:
      - 'doygen/**'
      - 'hooks/**'
      - 'licenses/**'
      - 'LICENSE.md'
      - 'README.md'
      - 'RELEASE-NOTES.txt'

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  windows:
    name: Windows
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Print g++/mingw32-make version and path
      run: |
        g++ --version
        Get-Command g++ | Select-Object -ExpandProperty Definition
        mingw32-make --version
        Get-Command mingw32-make | Select-Object -ExpandProperty Definition
      shell: powershell

    - name: Build Math libs
      shell: powershell
      run: mingw32-make -f make/standalone math-libs -j2

    - name: Run header tests
      shell: powershell
      run: make -j2 test-headers

  opencl:
    name: OpenCL
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Run header tests
      run: |
        echo "STAN_OPENCL=true" > make/local
        make -j2 test-headers
  no_range_checks:
    name: NoRange
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Run header tests
      run: |
        echo "STAN_NO_RANGE_CHECKS=true" > make/local
        ./runTests.py -j2 ./test/unit/math/prim/err/
